# Nuxt
.nuxt
.output
.cache
dist

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambiente / uploads / DB local
.env
.env.*
uploads/
prisma/dev.db

# SO/IDE
.DS_Store
Thumbs.db
*.log
.vscode/
